.form {
	display: flex;
	gap: 10px;
	flex-direction: column;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 20px;
	width: 100%;
	input {
		width: 100%;
		max-width: 1000px;
		min-width: min(1000px, 90vw);
		margin-inline: auto;
		font-size: 20px;
		border: none;
		outline: none;
		background-color: #ababab10;
		padding: 20px 25px;
		border-radius: 10px;
		border: 1px solid #636363;
		transition: all 0.3s ease;
		backdrop-filter: blur(10px);
		&::placeholder {
			color: #6e6e6e;
			text-align: center;
		}
		&:focus {
			background-color: #ffeafc1c;
			box-shadow: 0 0 10px #ff8df6c5;
		}
	}
}